<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
	<!-- The full path of the base list files (not the pivots) -->
    <add key ="BaseListsRootFolder" value ="C:\MULSEA\Input-samples\Lists"/>
	<!-- The full path of the pivot files -->
    <add key ="PivotsRootFolder" value ="C:\MULSEA\Input-samples\Pivots"/>
	<!-- The full path of the output root folder -->
    <add key ="ResultsRootFolder" value ="C:\MULSEA\Output-samples\"/>
	<!-- The number of scenarios per iteration which are populated to the next iteration (L_greed) -->
    <add key ="TopSizeInEachIteration" value="100"/>
	<!-- If false - the pivot is ranked ascending by the values of the elements, if true - descending. -->
    <add key ="IsPivotDescending" value ="false"/>
	<!-- The aggregation method (f_agg). Options: Average, MinRank, MaxRank, All (Average + MinRank + MaxRank) -->
    <add key ="AggregationMethod" value ="All"/>
	<!-- The index of the column in the pivots of the value which the list should be ranked by -->
    <add key ="PivotValueIndex" value="1"/>
	<!-- The index of the column in the base lists of the value which the list should be ranked by -->
    <add key ="BaseListsValueIndex" value="1"/>
	<!-- The index of the column in the pivots of the gene name -->
    <add key ="PivotGeneIndex" value="0"/>
	<!-- The index of the column in the base lists of the gene name -->
    <add key ="BaseListsGeneIndex" value="0"/>
	<!-- The separator used in the pivot files -->
    <add key ="PivotSeparator" value=","/>
	<!-- The separator used in the base list files -->
    <add key ="BaseListsSeparator" value=","/>
	<!-- The maximal sub-collection size tested by the algorithm -->
    <add key ="MaxSubcollectionSize" value="20"/>
	<!-- It true - the base lists will be considered only with descending ranking by the values. 
	If false - both descending and ascending ranking will be considered for each base list  -->
    <add key ="IsOnlyDescendingBaseLists" value="false"/>
	<!-- If true - the top score will be calculated based on the corrected score. If false - by the mmHG p-value bound. -->
    <add key ="IsTopByCorrectedScore" value="false"/>
  </appSettings>
</configuration>